*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.footer{
    background-color: #393939;
    
}

.banner{
    background-image: url("./assets/banngerbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    padding: 5rem 0;
}
